@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--font-sans: 'Manrope', sans-serif;
	--font-heading: 'Poppins', sans-serif;
	--font-serif: 'Playfair Display', serif;
}

@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/500.css';
@import '@fontsource/poppins/600.css';
@import '@fontsource/poppins/700.css';
@import '@fontsource/manrope/400.css';
@import '@fontsource/manrope/500.css';
@import '@fontsource/manrope/600.css';
@import '@fontsource/manrope/700.css';
@import '@fontsource/playfair-display/400.css';
@import '@fontsource/playfair-display/400-italic.css';
@import '@fontsource/playfair-display/700.css';
@import '@fontsource/playfair-display/700-italic.css';
@import '@fontsource/playfair-display/900.css';

body {
	font-family: var(--font-sans);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-heading);
}

h1 {
	font-family: var(--font-serif);
}
